<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head :: frag_head(~{::title})">
	<title>AddPet</title>
</head>

<body id="addPetPage" class="bg-light">
	<header th:replace="fragments/header :: frag_header_user"></header>

	<main class="text-center p-5">
		<h1 class="text_form_title">ADD A PET</h1>
		<br>
		<div class="card mb-4 shadow-sm rounded-0 border-0 w-75 m-auto">
			<div class="card-header bg-primary rounded-0 shadow-none"></div>
			<div class="card-body p-5">
				<form action="/addPetProcess" method="get" th:object="${newDog}">
					<!-- <input type="hidden" th:field="*{dogId}" name="dogId">  -->
					<!-- <input
						type="hidden" th:field="*{ownerId}" name="ownerId">  -->
					<!--<h3 class="text_form_title">ADD A PET</h3>-->
					<img src="images/avatar/dog1.png" alt="petAvatar" class="avatar_profile">

					<br>
					<br>
					
					<div class="grid-container">
						<div class="input-group">
							<img src="images/icons/collar_1.svg">
							<input type="text" th:field="*{name}" placeholder="Name" required
								class="form-control formInputTextStyle">
						</div>

						<div class="input-group">
							<img src="images/icons/cake.svg">
							<input type="date" th:field="*{birthday}" placeholder="YYYY-MM-DD" required
								class="form-control formInputSelectStyle">
						</div>

						<div class="input-group">
							<img src="images/icons/gender.svg">
							<select required th:field="*{gender}" class="form-select formInputSelectStyle">
								<!-- <option value="Unknown" selected>Unknown</option> -->
								<option value="male" selected>Male</option>
								<option value="female">Female</option>
							</select>
						</div>

						<div class="input-group">
							<img src="images/icons/dog.svg">
							<select th:field="*{breed}" class="form-select formInputSelectStyle">
								<option th:each="breed : ${breed}" th:value="${breed.name}" th:text="${breed.name}">temp
								</option>
							</select>
						</div>
					</div>
					
					<br>
					<button type="submit" class="w-100 btn btn-lg btn-primary rounded-0">ADD</button>
					<br>
				</form>
			</div>
		</div>
	</main>

	<footer th:replace="fragments/footer :: frag_footer"></footer>
</body>

</html>