<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head :: frag_head(~{::title})">
<title>BookAppointment</title>
</head>

<body id="createApptBodyPage">

    <header th:replace="fragments/header :: frag_header_user"></header>

    <main class="vh-95 w-100 p-5">
    
            <div class="card shadow-sm rounded-0 border-0 w-50 ">
                <!-- <div class="card-header bg-primary rounded-0 shadow-none"></div> -->
                <div class="card-body p-5">
                    <form action="/bookApptProcess" method="post" th:object="${newAppt}">
                        <h3 class="card-title w700 text-center">BOOK YOUR APPOINTMENT</h3>
                        <input type="hidden" class="form-control formInputTextStyle"
                          th:field="*{ownerID}">
                        
                        <div class="grid-container">
                            <div class="input-group">
                                <img src="images/icons/person.svg">
                                <input type="text" class="form-control formInputTextStyle" value="John Doe">
                            </div>
                            
                            
                            <div class="input-group">
                                <img src="images/icons/medical.svg">
                                <input type="date" th:field="*{date}" class="form-control formInputSelectStyle" placeholder="YYYY-MM-DD" required>
                            </div>

                        
                            <div class="input-group">
                                <img src="images/icons/dog.svg">
                                <select id="dogID" th:field="*{dogID}" class="form-control formInputSelectStyle" >
                                    <option th:each="dog : ${dogList}" th:value="${dog.dogID}" th:text="${dog.name}">dog1</option>
                                </select>
                            </div>
                            
                            <div class="input-group">
                                <img src="images/icons/time.svg">
                                <select id="time" th:field="*{time}"  class="form-control formInputSelectStyle">
                                    <option value="01:00:00">01:00PM</option>
                                    <option value="02:00:00">02:00PM</option>
                                    <option value="03:00:00">03:00PM</option>
                                    <option value="04:00:00">04:00PM</option>
                                    <option value="05:00:00">05:00PM</option>
                                </select>
                            </div>
                        </div>
                      
                        <br>
                        <label>Reason for the visit?</label>
                        <textarea th:field="*{reasonOfVisit}" rows="5" class="w-100" required></textarea>
                        <br>
                        <br>
                        <button type="submit" class="w-100 btn btn-lg btn-primary rounded-0">SUBMIT</button>
                    </form>                    
                </div>
            </div>
    </main>

    <footer th:replace="fragments/footer :: frag_footer"></footer>
</body>

</html>
