<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">


<head th:replace="fragments/head :: frag_head(~{::title})">
    <title>BookAppointment</title>
    
    <style>
        main {
            background-image: url(images/pexels/dogLion_2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right;
            height: 90vh;
        }
    </style>
</head>

<body id="registerID">
    <header class="bg-white">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-center py-3">
                <a href="/"
                    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img src="images/barkpointment_logo.png" alt="barkpointment-logo" height="35px" />
                </a>

                <ul class="nav nav-pill nav">
                    <li class="nav-item"><a href="#" class="nav-link text-danger">LOGOUT</a></li>
                    <li class="nav-item"><a href="profile" class="nav-link">PROFILE</a></li>
                    <li class="nav-item"><a href="pets" class="nav-link">PETS</a></li>
                    <li class="nav-item"><a href="addPet" class="nav-link">ADD A PET</a></li>
                    <li class="nav-item"><a href="appointments" class="nav-link">APPOINTMENTS</a></li>
                    <li class="nav-item"><a href="contact" class="nav-link">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main class="vh-95 w-100">
    
            <div class="card shadow-sm rounded-0 border-0 w-50">
                <div class="card-header bg-primary rounded-0 shadow-none">
                </div>
                <div class="card-body p-5">
                    <form action="/bookApptProcess" method="post" th:object="${newAppt}">
                        <h3 class="card-title w700">BOOK YOUR APPOINTMENT</h3>
                          <input type="text" class="form-control py-3 bg-light rounded-0 my-2"
                          th:field="*{ownerID}">
                        <input type="text" class="form-control py-3 bg-light rounded-0 my-2"
                          th:value="${ownerName}">
                        <input type="date" th:field="*{date}" placeholder="YYYY-MM-DD">

                        <select id="dogID" th:field="*{dogID}" >
                            <option th:each="dog : ${dogList}" th:value="${dog.dogID}" th:text="${dog.name}">dog1</option>
                        
                        </select>
                        <select id="time" th:field="*{time}">
                            <option value="10:00:00">10:00AM</option>
                            <option value="11:00:00">11:00AM</option>
                            <option value="12:00:00">12:00AM</option>
                            <option value="01:00:00">01:00PM</option>
                        </select>
                        <p>Reason for the visit?</p>
                        <textarea th:field="*{reasonOfVisit}" rows="5" class="w-100"></textarea>
                        <button type="submit" class="w-100 btn btn-lg btn-primary rounded-0">CREATE</button>
                    </form>
                    <br>
                    <br>
                    <hr>
                    <p>Don't have an account? <a href="register" class="">Register</a></p>
                </div>
            </div>
    </main>

	<footer th:replace="fragments/footer :: frag_footer"></footer>
</body>

</html>