<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head :: frag_head(~{::title})">
<title>Pets</title>
</head>

<body id="petsBodyID">
	<header th:replace="fragments/header :: frag_header_user"></header>

	<main class="text-center bg-light p-5 vh-100">
		<!-- for testing -->
		<table class="m-auto">
			<tr>
				<th>DOG ID</th>
				<th>NAME</th>
				<th>BIRTHDAY</th>
				<th>GENDER</th>
				<th>BREED</th>
				<th>OWNER ID</th>
			</tr>
			<tr th:each="dog : ${dogList}">
				<td th:text="${dog.dogID}">00</td>
				<td th:text="${dog.name}">2021-04-02</td>
				<td th:text="${dog.birthday}">F</td>
				<td th:text="${dog.gender}">F</td>
				<td th:text="${dog.breed}">Golden Retriever</td>
				<td th:text="${dog.ownerID}">00</td>
			</tr>
		</table>
		<br><!-- 
		<div class="">
			<input type="text" name="dogID" id="dogID" value="003" disabled>
			<input type="date" name="bday" id="bday" value="2021-04-02" disabled>
			<input type="text" name="gender" id="gender" value="F" disabled>
			<input type="text" name="breed" id="breed" value="Golden Retriever"
				disabled>
		</div> -->
	</main>

	<footer th:replace="fragments/footer :: frag_footer"></footer>
</body>

</html>