<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head :: frag_head(~{::title})">
	<title>Pets</title>
</head>

<body id="petsPage" >
	<header th:replace="fragments/header :: frag_header_user"></header>


	<main class=" p-5 vh-100 bg-light">
		<h1 class="text_form_title">PETS</h1>
		<br>
	<!--	for testing -->
<!--		<table class="m-auto text-center">
			<tr>
				<th>DOG ID</th>
				<th>NAME</th>
				<th>BIRTHDAY</th>
				<th>GENDER</th>
				<th>BREED</th>
				<th>OWNER ID</th>
			</tr>
			<tr th:each="dog : ${dogList}">
				<td th:text="${dog.dogID}">00</td>
				<td th:text="${dog.name}">2021-04-02</td>
				<td th:text="${dog.birthday}">F</td>
				<td th:text="${dog.gender}">F</td>
				<td th:text="${dog.breed}">Golden Retriever</td>
				<td th:text="${dog.ownerID}">00</td>
			</tr>
		</table>
		<br>-->


		<div class="card mb-4 shadow-sm rounded-0 border-0" th:each="dog : ${dogList}">

			<form action="/addPetProcess" method="get" class="grid-container-parent">
				<div class="input-group p-3">
					<img src="images/avatar/dog1.png" alt="petAvatar" class="avatar_pets">
				</div>

				<div class="m-auto p-2">
					<span class="text_form_dogName" th:text="${dog.name}">DOG NAME</span>
					<div class="input-group">
						<div class="grid-container-child">
							<div class="input-group">
								<img src="images/icons/collar_2.svg">
								<input type="text" class="form-control formInputTextStyle" th:value="${dog.dogID}">
							</div>

							<div class="input-group">
								<img src="images/icons/cake.svg">
								<input type="text" class="form-control formInputSelectStyle"th:value="${dog.birthday}">
							</div>

							<div class="input-group">
								<img src="images/icons/gender.svg">
								<input type="text" class="form-control formInputTextStyle" th:value="${dog.gender}">
							</div>

							<div class="input-group">
								<img src="images/icons/dog.svg">
								<input type="text" class="form-control formInputSelectStyle" th:value="${dog.breed}">
							</div>
						</div>
					</div>
				</div>

				<div class="input-group">
					<button type="submit" class="w-100 btn btn-lg btn-primary rounded-0">
						<img src="images/icons/medical.svg">
					</button>
				</div>

			</form>

		</div>
	</main>

	<footer th:replace="fragments/footer :: frag_footer"></footer>
</body>

</html>