<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head :: frag_head(~{::title})">
<title>Pets</title>

<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px;
}
</style>
</head>

<body>
	<header class="bg-white">
		<div class="container">
			<div class="d-flex flex-wrap justify-content-center py-3">
				<a href="/"
					class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
					<img src="images/barkpointment_logo.png" alt="barkpointment-logo"
					height="35px" />
				</a>

				<ul class="nav nav-pill nav">
					<li class="nav-item"><a href="/" class="nav-link text-danger">LOGOUT</a></li>
					<li class="nav-item"><a href="profile" class="nav-link">PROFILE</a></li>
					<li class="nav-item"><a href="pets" class="nav-link">PETS</a></li>
					<li class="nav-item"><a href="addPet" class="nav-link">ADD
							A PET</a></li>
					<li class="nav-item"><a href="appointments" class="nav-link">APPOINTMENTS</a></li>
					<li class="nav-item"><a href="contact" class="nav-link">CONTACT</a></li>
				</ul>
			</div>
		</div>
	</header>

	<main class="text-center bg-light p-5 vh-100">
		<!-- for testing -->
		<table class="m-auto">
			<tr>
				<th>DOG ID</th>
				<th>NAME</th>
				<th>BIRTHDAY</th>
				<th>GENDER</th>
				<th>BREED</th>
				<th>OWNER ID</th>
			</tr>
			<tr th:each="dog : ${dogList}">
				<td th:text="${dog.dogID}">00</td>
				<td th:text="${dog.name}">2021-04-02</td>
				<td th:text="${dog.birthday}">F</td>
				<td th:text="${dog.gender}">F</td>
				<td th:text="${dog.breed}">Golden Retriever</td>
				<td th:text="${dog.ownerID}">00</td>
			</tr>
		</table>
		<br><!-- 
		<div class="">
			<input type="text" name="dogID" id="dogID" value="003" disabled>
			<input type="date" name="bday" id="bday" value="2021-04-02" disabled>
			<input type="text" name="gender" id="gender" value="F" disabled>
			<input type="text" name="breed" id="breed" value="Golden Retriever"
				disabled>
		</div> -->
	</main>

	<footer th:replace="fragments/footer :: frag_footer"></footer>
</body>

</html>