<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />

    <link rel="stylesheet" href="../../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../../static/css/style.css" />

    <title>Profile</title>
</head>

<body>
    <header class="bg-white">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-center py-3">
                <a href="/"
                    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img src="images/barkpointment_logo.png" alt="barkpointment-logo" height="35px" />
                </a>

                <ul class="nav nav-pill nav">
                    <li class="nav-item"><a href="#" class="nav-link text-danger">LOGOUT</a></li>
                    <li class="nav-item"><a href="profile" class="nav-link">PROFILE</a></li>
                    <li class="nav-item"><a href="pets" class="nav-link">PETS</a></li>
                    <li class="nav-item"><a href="addPet" class="nav-link">ADD A PET</a></li>
                    <li class="nav-item"><a href="appointments" class="nav-link">APPOINTMENTS</a></li>
                    <li class="nav-item"><a href="contact" class="nav-link">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main class="bg-light text-center p-5">
        <div class="card mb-4 shadow-sm rounded-0 border-0 ">
            <div class="card-header bg-primary rounded-0 shadow-none">
            </div>
            <div class="card-body p-5">
                <img src="images/avatar/person1.png" alt="profilePic" class="avatar_profile">
                <input type="text" class="form-control py-3 bg-light rounded-0 my-2" name="fname" id="name" value="Jess"
                    disabled="">
                <input type="text" class="form-control py-3 bg-light rounded-0 my-2" name="lname" id="name" value="Doe"
                    disabled="">
                <input type="text" class="form-control py-3 bg-light rounded-0 my-2" name="Address" id="address"
                    value="101 Temp St.">
                <input type="text" class="form-control py-3 bg-light rounded-0 my-2" name="City" id="city"
                    value="Toronto">
                <input type="text" class="form-control py-3 bg-light rounded-0 my-2" name="province" id="province"
                    value="ON">
                <input type="text" class="form-control py-3 bg-light rounded-0 my-2" name="postalCode" id="postalCode"
                    value="M2L 4R7">
                <input type="email" class="form-control py-3 bg-light rounded-0 my-2" name="email" id="email"
                    value="jdoe@gmail.com">
                <input type="text" class="form-control py-3 bg-light rounded-0 my-2" name="phone" id="phone"
                    value="647-000-000">

                <button type="submit" class="w-100 btn btn-lg btn-primary rounded-0">UPDATE</button>
                <br>
            </div>
        </div>
    </main>

    <footer class="small p-3 bg-primary text-center text-white fixed-bottom w300">
        <small>Copyright ©
            <script>document.write(new Date().getFullYear())</script> Marjorie Teu. All Rights Reserved.
        </small>
        </span>
    </footer>
</body>

</html>