<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head :: frag_head(~{::title})">
<title>Barkpointment | Home</title>
</head>

<body>

	<header th:replace="fragments/header :: frag_header_public"></header>

	<div th:replace="fragments/carousel :: frag_carousel"></div>

	<form action="#" method="get">
		<div id="date-container"
			class="bg-info p-3 text-white text-center px-5">
			<p id="date-question"
				class="font__mon_exbold mb-2 d-md-inline-block px-3">When would
				you like to visit?</p>
			<input id="appt-date" type="date" name="date" value=""
				class="border-0 p-2 text-center bg-white">
		</div>
		<!-- end of date -->

		<!-- script: assign time to this element on btn click  -->
		<input type="hidden" id="appt-time" name="appt-time" value="">

		<div id="time-container" class="p-4 text-center d-flex">

			<div class="w-75"></div>
			<!-- end of col1 -->

			<div class="w-100 colcount-2">
				<ul class="list-unstyled m-0 colcount">
					<li><input type="submit" value="10:00 AM"
						class="btn btn-outline-info px-4 py-2 rounded-0 m-2"></li>
					<li><input type="submit" value="11:00 AM"
						class="btn btn-outline-info px-4 py-2 rounded-0 m-2"></li>
					<li><input type="submit" value="12:00 AM"
						class="btn btn-outline-info px-4 py-2 rounded-0 m-2"></li>
					<li><input type="submit" value="01:00 PM"
						class="btn btn-outline-info px-4 py-2 rounded-0 m-2"></li>
					<li><input type="submit" value="02:00 PM"
						class="btn btn-outline-info px-4 py-2 rounded-0 m-2"></li>
					<li><input type="submit" value="03:00 PM"
						class="btn btn-outline-info px-4 py-2 rounded-0 m-2"></li>
				</ul>
			</div>
			<!-- end of col2 -->

			<div class="w-75"></div>
			<!-- end of col3 -->

		</div>
		<!-- end of time-container -->

	</form>
	<!-- end of form -->

	<footer th:replace="fragments/footer :: frag_footer_dark"></footer>

</body>


</html>