<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head :: frag_head(~{::title})">
<title>Barkpointment | Accounts</title>
</head>
<body>
	<header th:replace="fragments/header :: frag_header_admin"></header>

	<div th:replace="fragments/titleBar :: frag_titleBar('ACCOUNTS')"></div>

	<div class="py-4 table-responsive-lg">
<!-- 		<table class="table table-hover text-center">
			<thead>
				<tr>
					<th scope="col">Account#</th>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Phone</th>
					<th scope="col">Address</th>
					<th scope="col">City</th>
					<th scope="col">Province</th>
					<th scope="col">Email</th>
					<th scope="col">Password</th>
					<th scope="col">IsAdmin</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="account : ${acctList}">
					<td th:text="${account.acctID}">00</td>
					<td th:text="${account.fname}">tempFname</td>
					<td th:text="${account.lname}">tempLname</td>
					<td th:text="${account.phone}">tempPhone</td>
					<td th:text="${account.address}">tempAddress</td>
					<td th:text="${account.city}">tempCity</td>
					<td th:text="${account.province}">tempProv</td>
					<td th:text="${account.email}">temp@gmail.com</td>
					<td th:text="${account.password}">tempPass</td>
					<td th:text="${account.isAdmin}">Y</td>
				</tr>
			</tbody> -->
			
		<table class="table table-hover text-center">
			<thead>
				<tr>
					<th scope="col">Account#</th>
					<th scope="col">Username</th>
					<th scope="col">Pass</th>
					<th scope="col">Enabled</th>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Phone</th>
					<th scope="col">Address</th>
					<th scope="col">City</th>
					<th scope="col">Province</th>
					<th scope="col">Email</th>
					<th scope="col">Password</th>
					<th scope="col">IsAdmin</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="account : ${acctList}">
					<td th:text="${account.acctID}">00</td>
					<td th:text="${account.username}">00</td>
					<td th:text="${account.password}">00</td>
					<td th:text="${account.enabled}">00</td>
					<td th:text="${account.fname}">tempFname</td>
					<td th:text="${account.lname}">tempLname</td>
					<td th:text="${account.phone}">tempPhone</td>
					<td th:text="${account.address}">tempAddress</td>
					<td th:text="${account.city}">tempCity</td>
					<td th:text="${account.province}">tempProv</td>
					<td th:text="${account.email}">temp@gmail.com</td>
					<td th:text="${account.password}">tempPass</td>
					<td th:text="${account.isAdmin}">Y</td>
				</tr>
			</tbody>
		</table>

	</div>
	
	<div class="fixed-bottom">
		<footer th:replace="fragments/footer :: frag_footer_dark"></footer>
	</div>

</body>