<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head :: frag_head(~{::title})">
	<title>Barkpointment | PetAdd</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/style.css">

</head>

<body>

	<header th:replace="fragments/header :: frag_header_public"></header>

	<div th:replace="fragments/titleBar :: frag_titleBar('pets')"></div>

	<div class="full-height bg__cover bg__register">
		<!-- column 1-->
		<div class="p-5">
			<!-- sys message -->
			<div id="sys-message" class="sys_message__base sys_message__alert">
				<span>System Message</span>
			</div>

			<!-- add card-->
			<form id="form__addPet" class="p-5 shadow bg-white text-secondary" action="#" th:action="@{/addAdog}" method="post" th:object="${dog}">
				<p class="form__title">Add Pet</p>
				<br />

				<div id="gridContainer">
					<div id="photo" class="preview-photo-pet">
						<input type="file" id="photoUploadBtn" accept="image/jpeg">

						<label for="photoUploadBtn" class="btn rounded-circle btn-secondary p-2 m-3 w-auto">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
								class="bi bi-pencil-fill" viewBox="0 0 16 16">
								<path
									d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z">
								</path>
							</svg>
						</label>

					</div>

					<div id="data" class="bg p-4">

						<div class="name">
							<img src="../../images/icons/person.svg" alt="">
							<input type="text" class="form-control " id="nameID" placeholder="Name" th:field="*{name}" required>
						</div>

						<div id="gender">
							<img src="../../images/icons/gender.svg" alt="">
							<select name="gender" id="gender" class="form-select" required>
								<option value="" hidden="">Gender</option>
								<option value="M">Male</option>
								<option value="F">Female</option>
							</select>
						</div>
						<div id="bday">
							<img src="../../images/icons/birthday_cake.svg" alt="">
							<input type="date" class="form-control" id="bdayID" th:field="*{birthday}" required>
						</div>

						<div id="breed">
							<img src="../../images/icons/dog_face.svg" alt="">

							<select name="breed" id="breed" th:field="*{breed}" class="form-select">
								<option value="" hidden="">Breed</option>
								<option value="Husky">Husky</option>
								<option value="Pug">Pug</option>
							</select>
						</div>


						<button id="addBtn" type="submit" class="w-100 btn btn-lg btn-info text-white">Add</button>
					</div>

				</div>
			</form>
			<!-- end of form -->


		</div>
		<!--  end of column -->

	</div>
	<!-- end of container -->


	<footer th:replace="fragments/footer :: frag_footer_dark"></footer>
</body>