<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/head :: frag_head(~{::title})">
	<title>Barkpointment | Pets</title>
	<!-- 	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/style.css"> -->
</head>

<body>

	<div sec:authorize="isAuthenticated()">
		<div sec:authorize="hasRole('ROLE_USER')">
			<header th:replace="fragments/header :: frag_header_user"></header>
		</div>

		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<header th:replace="fragments/header :: frag_header_admin"></header>
		</div>
		
		User's name: <span sec:authentication="name"></span><br />
		Roles: <span sec:authentication="principal.authorities"></span><br />
	</div>
	
	<div th:replace="fragments/titleBar :: frag_titleBar('pets')"></div>

	<div class="py-4 table-responsive-lg">


		<table class="table table-hover text-center">
			<thead>
				<tr>
					<th scope="col">Pet ID</th>
					<th scope="col">Photo</th>
					<th scope="col">Name</th>
					<th scope="col">Gender</th>
					<th scope="col">Breed</th>
					<th scope="col">Birthday</th>
					<th scope="col">Owner ID</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dog : ${dogList}">
					<td th:text="${dog.dogID}">00</td>
					<td>photo</td>
					<td th:text="${dog.name}">Bolt</td>
					<td th:text="${dog.gender}">M</td>
					<td th:text="${dog.breed}">Shiba Inu</td>
					<td th:text="${dog.birthday}">1990-08-34</td>
					<td th:text="${dog.ownerID}">1</td>
				</tr>
			</tbody>
		</table>

	</div>

	<footer th:replace="fragments/footer :: frag_footer_dark"></footer>
</body>