<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
				xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head :: frag_head(~{::title})">
    <title>Barkpointment | header</title>
</head>
<body>

	<header th:fragment="frag_header_logo">
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand m-auto" href="#" th:href="@{/}">
				<img src="../images/barkpointment_logo.svg" alt="barkpointment_logo" class="w-100">
			</a>
		</nav>
	</header>

	<header th:fragment="frag_header_public">
		<nav class="navbar navbar-expand-md navbar-light bg-light px-4 py-2 font__mon_med">
			<a class="navbar-brand" href="#" th:href="@{/}">
				<img src="../images/barkpointment_logo.svg" alt="barkpointment_logo" class="w-100">
			</a>

			<button type="button" class="navbar-toggler rounded-0 bg-transparent border-0" data-bs-toggle="collapse"
				data-bs-target="#navbar">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navbar" class="navbar-collapse collapse text-center ">
				<ul class="navbar-nav m-auto me-0">
					<li class="nav-item"><a class="nav-link" href="#" th:href="@{/login}">LOGIN</a></li>
					<li class="nav-item"><a class="nav-link" href="#" th:href="@{/faq}">FAQ</a></li>
				</ul>
			</div>
		</nav>
	</header> <!-- end of header -->


	<header th:fragment="frag_header_user">
		<nav class="navbar navbar-expand-md navbar-light bg-light px-4 py-2 font__mon_med">
			<a class="navbar-brand" href="#" th:href="@{/}">
				<img src="../images/barkpointment_logo.svg" alt="barkpointment_logo" class="w-100">
			</a>

			<button type="button" class="navbar-toggler rounded-0 bg-transparent border-0" data-bs-toggle="collapse"
				data-bs-target="#navbar">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navbar" class="navbar-collapse collapse text-center ">
				<ul class="navbar-nav m-auto me-0">
					<li class="nav-item dropdown">						
						<a class="nav-link dropdown-toggle" href="#" th:href="@{/profile}">PROFILE</a>

						<div class="dropdown-menu">
							<a  class="dropdown-item" href="#" th:href="@{logout}">Logout</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" th:href="@{/pets}">PETS</a>

						<div class="dropdown-menu">
							<a href="#" class="dropdown-item" th:href="@{/petsAdd}">Add Pet</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" th:href="@{/visits}">APPOINTMENTS</a>

						<div class="dropdown-menu">
							<a href="#" class="dropdown-item" th:href="@{/}">Create Appointment</a>
						</div>
					</li>
					<li class="nav-item"><a class="nav-link" href="#" th:href="@{/faq}">FAQ</a></li>
				</ul>
			</div>
		</nav>
		acctID : <input  type="text" th:value="${acctID}" disabled> User's name: <input type="text" th:value="${username}" disabled><br />
	</header> <!-- end of header -->



	<header th:fragment="frag_header_admin">
		<nav class="navbar navbar-expand-md navbar-light bg-light px-4 py-2 font__mon_med">
			<a class="navbar-brand" href="#" th:href="@{/}">
				<img src="../images/barkpointment_logo.svg" alt="barkpointment_logo" class="w-100">
			</a>

			<button type="button" class="navbar-toggler rounded-0 bg-transparent border-0" data-bs-toggle="collapse"
				data-bs-target="#navbar">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navbar" class="navbar-collapse collapse text-center ">
				<ul class="navbar-nav m-auto me-0">
					<li class="nav-item dropdown">						
						<a class="nav-link dropdown-toggle" href="#" th:href="@{/profile}">ACCOUNTS</a>

						<div class="dropdown-menu">
							<a  class="dropdown-item" href="#" th:href="@{logout}">Logout</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" th:href="@{/pets}">PETS</a>

						<div class="dropdown-menu">
							<a href="#" class="dropdown-item" th:href="@{/petsAdd}">Add Pet</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" th:href="@{/visits}">APPOINTMENTS</a>

						<div class="dropdown-menu">
							<a href="#" class="dropdown-item" th:href="@{/}">Create Appointment</a>
						</div>
					</li>
					<li class="nav-item"><a class="nav-link" href="#" th:href="@{/faq}">FAQ</a></li>
				</ul>
			</div>
		</nav>
		
		acctID : <input type="text" th:value="${acctID}" disabled> User's name: <input type="text" th:value="${username}" disabled><br />
	</header> <!-- end of header -->

	<!-- scripts -->
<!-- 	<script src="../../static/js/bootstrap.js"></script>
	<script src="../../static/js/jquery.js"></script>
	<script src="../../static/js/script.js"></script> -->

</body>

</html>