<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head :: frag_head(~{::title})">
<title>Barkpointment | header</title>
</head>

<body>


    <header class="bg-white" th:fragment="frag_header_logoCenter">
        <div class="py-3 text-center">
            <a href="/">
                <img src="images/barkpointment_logo.png" alt="barkpointment-logo" height="30px" />
            </a>
        </div>
    </header>
    
    
    <header class="bg-white" th:fragment="frag_header_public">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-center py-3">
                <a href="/"
                    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img src="images/barkpointment_logo.png" alt="barkpointment-logo" height="35px" />
                </a>

                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="bookAppt" class="nav-link active" aria-current="page">LOGIN</a></li>
                    <li class="nav-item"><a href="contact" class="nav-link">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </header>
    
    
	<header >
		<nav class="navbar navbar-expand-md navbar-light bg-light px-4 py-2 font__mon_med">
			<a class="navbar-brand" href="#" th:href="@{/}">
				<img src="../images/barkpointment_logo.svg" alt="barkpointment_logo" class="w-100">
			</a>

			<button type="button" class="navbar-toggler rounded-0 bg-transparent border-0" data-bs-toggle="collapse"
				data-bs-target="#navbar">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navbar" class="navbar-collapse collapse text-center ">
				<ul class="navbar-nav m-auto me-0">
					<li class="nav-item"><a class="nav-link" href="#" th:href="@{/login}">LOGIN</a></li>
					<li class="nav-item"><a class="nav-link" href="#" th:href="@{/faq}">FAQ</a></li>
				</ul>
			</div>
		</nav>
	</header> <!-- end of header -->


	<header class="bg-white" th:fragment="frag_header_user">
		<div class="container">
			<div class="d-flex flex-wrap justify-content-center py-3">
				<a href="/"
					class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
					<img src="images/barkpointment_logo.png" alt="barkpointment-logo"
					height="35px" />
				</a>

				<ul class="nav nav-pill nav">
					<li class="nav-item"><a href="/" class="nav-link text-danger">LOGOUT</a></li>
					<li class="nav-item"><a href="profile" class="nav-link">PROFILE</a></li>
					<li class="nav-item"><a href="pets" class="nav-link">PETS</a></li>
					<li class="nav-item"><a href="addPet" class="nav-link">ADD
							A PET</a></li>
					<li class="nav-item"><a href="appointments" class="nav-link">APPOINTMENTS</a></li>
					<li class="nav-item"><a href="contact" class="nav-link">CONTACT</a></li>
				</ul>
			</div>
		</div>
	</header> <!-- end of header -->


</body>

</html>