<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
				xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<div th:fragment="links()">

	<a href="/login" >Login</a><br>
	<a href="/faq">FAQ</a><br>
	<a href="/register">Resigter</a><br>
	<a href="/profile">Profile</a><br>
	<a href="/pets">Pets</a><br>
	<a href="/petsAdd">Pets Add</a><br>
	<a href="/visits">Visits</a><br>
	<a href="/aptAdd">Appointment Add</a><br>
	<a href="/admin">Admin</a><br>
</div>

</html>