<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
				xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
				
<head th:replace="fragments/head :: frag_head(~{::title})">
	<title>Barkpointment | sysAlert</title>
<!-- 	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/style.css"> -->
</head>

<body>
	<!-- alertType option: success, danger, warning, dark,info -->
	<div th:fragment="frag_sysAlert(alertType, sysMessage)" class="text-center">
		
		<p th:if="${alertType}==success" th:text="${sysMessage}" class="m-0  p-2 alert-success">System Message Default</p>
		<p th:if="${alertType}==danger" th:text="${sysMessage}" class="m-0  p-2 alert-danger">System Message Default</p>
		
	</div>
</body>

</html>