<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
				xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">g="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head :: frag_head(~{::title})">
	<title>Barkpointment | sysAlert</title>
<!-- 	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/style.css"> -->
</head>

<body>
	<!-- alertType option: success, danger, warning, dark,info -->
	<div th:fragment="frag_sysAlert(message)" class="p-2 text-center mb-3">
		<p th:text="${message}" class="text-center m-0">System Message Default</p>
	</div>
</body>

</html>