<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: frag_head(~{::title})">
<title>Contact</title>
</head>

<body class="vh-100 bg-dark-subtle">
	<header th:replace="fragments/header :: frag_header_public"></header>

	<main class="bg-light p-5 vh-100">
		<div class="card mb-4 shadow-sm rounded-0 border-0" >
			<div class="card-header bg-primary rounded-0 shadow-none"></div>
			<div class="card-body p-5">
				<h3 class="card-title w700  text-center ">CONTACT US</h3>

				<div class="input-group mb-3">
					<img alt="icon_email" src="images/icons/person.svg"> 
					<input type="text" class="form-control" placeholder="Name*"> 
					&nbsp;&nbsp;&nbsp;
					<img alt="person" src="images/icons/mail.svg">
					<input type="email" class="form-control" placeholder="Email*" >
				</div>


				<!-- <p>Message</p> -->
				<label>Message</label>
				<textarea name="message" id="message" rows="4" class="w-100 p-3">
				</textarea>
				
				<button type="submit" class="w-100 btn btn-lg btn-primary rounded-0">SEND</button>
				<br />
			</div>
		</div>
	</main>

	<footer th:replace="fragments/footer :: frag_footer"></footer>
</body>
</html>
