<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head :: frag_head(~{::title})">
    <title>Contact</title>
</head>

<body class="vh-100 bg-dark-subtle">
    <header class="bg-white">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-center py-3">
                <a href="/"
                    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img src="images/barkpointment_logo.png" alt="barkpointment-logo" height="35px" />
                </a>

                <ul class="nav nav-pill nav">
                    <li class="nav-item"><a href="#" class="nav-link text-danger">LOGOUT</a></li>
                    <li class="nav-item"><a href="profile" class="nav-link">PROFILE</a></li>
                    <li class="nav-item"><a href="pets" class="nav-link">PETS</a></li>
                    <li class="nav-item"><a href="appointments" class="nav-link">APPOINTMENTS</a></li>
                    <li class="nav-item"><a href="contact" class="nav-link">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main class="bg-light text-center p-5 vh-100">
        <div class="card mb-4 shadow-sm rounded-0 border-0 ">
            <div class="card-header bg-primary rounded-0 shadow-none">
            </div>
            <div class="card-body p-5">
                <h3 class="card-title w700">CONTACT US</h3>
                <input type="text" class="form-control py-3 bg-light rounded-0 my-2" name="fname" id="name"
                    placeholder="First Name*">
                <input type="text" class="form-control py-3 bg-light rounded-0 my-2" name="lname" id="name"
                    placeholder="Last Name*">
                <input type="email" class="form-control py-3 bg-light rounded-0 my-2" name="email" id="email"
                    placeholder="Email*">

                <!-- <p>Message</p> -->
                <textarea name="message" id="message" rows="4" class="w-100 p-3" placeholder="Message*"></textarea>
                <button type="submit" class="w-100 btn btn-lg btn-primary rounded-0">SEND</button>
                <br>
            </div>
    </main>

	<footer th:replace="fragments/footer :: frag_footer"></footer>

</body>

</html>