<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head :: frag_head(~{::title})">
<title>Home</title>
</head>

<body id="indexBodyID">
    <header class="bg-white">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-center py-3">
                <a href="/"
                    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img src="images/barkpointment_logo.png" alt="barkpointment-logo" height="35px" />
                </a>

                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="bookAppt" class="nav-link active" aria-current="page">LOGIN</a></li>
                    <li class="nav-item"><a href="contact" class="nav-link">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main class="vh-100 bg-body-secondary d-flex align-items-center pb-5">
        <div class="container pb-5">
            <h1 class="w800">VET <span>SCHEDULING</span><br>MADE EASY</h1>
            <p class="w-50">Barkpointment is an easy to use booking system for your dogs vet appointment. Manage pet
                profiles, schedules and health history — all in one place.</p>

            <a href="login"><button class="btn btn-lg btn_solid-dark px-5">LOGIN</button></a>
            <a href="register"><button class="btn btn-lg btn_solid-light px-5 ">SIGN UP</button></a>


        </div>
    </main>

	<footer th:replace="fragments/footer :: frag_footer"></footer>
</body>

</html>