<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <!-- meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- css -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />

    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/style.css" />

    <title>Home</title>
    <style>
        main {
            background-image: url(images/pexels/dogLion_2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right;
        }
    </style>
</head>

<body>
    <header class="bg-white">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-center py-3">
                <a href="/"
                    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img src="images/barkpointment_logo.png" alt="barkpointment-logo" height="35px" />
                </a>

                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="bookAppt" class="nav-link active" aria-current="page">LOGIN</a></li>
                    <li class="nav-item"><a href="contact" class="nav-link">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main class="vh-100 bg-body-secondary d-flex align-items-center pb-5">
        <div class="container pb-5">
            <h1 class="w800">VET <span>SCHEDULING</span><br>MADE EASY</h1>
            <p class="w-50">Barkpointment is an easy to use booking system for your dogs vet appointment. Manage pet
                profiles, schedules and health history — all in one place.</p>

            <a href="login"><button class="btn btn-lg btn_solid-dark px-5">LOGIN</button></a>
            <a href="register"><button class="btn btn-lg btn_solid-light px-5 ">SIGN UP</button></a>


        </div>
    </main>

    <footer class="small p-3 bg-primary text-center text-white fixed-bottom w300">
        <small>Copyright ©
            <script>document.write(new Date().getFullYear())</script> Marjorie Teu. All Rights Reserved.
        </small>
        </span>
    </footer>

    <!-- script -->
    <script src="scripts/bootstrap.js"></script>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/script.js"></script>
</body>

</html>