<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
				xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/head :: frag_head(~{::title})">
<title>Barkpointment | Login</title>
<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/style.css">

</head>

<body>

	<header th:replace="fragments/header :: frag_header_logo"></header>

	<div class="full-height bg__cover bg__login ">

		<!-- column 1-->
		<div class="p-5 d-md-inline-block">
		
			<!-- sys message -->
			<div th:if="${param.error}" class="alert-danger">
				<div th:insert="fragments/sysAlert :: frag_sysAlert('system message here')"></div>
			</div>
		
			<div id="genContainer" class="pb-4 text-center">
				<p>Generate default account</p>
				<button class="btn btn-md btn-secondary text-white w-25" id="btnUserAcct">'user'</button>
				<button class="btn btn-md btn-secondary text-white w-25" id="btnAdminAcct">'admin'</button>
				<button class="btn btn-md btn-secondary text-white w-25" id="btnReset">Reset</button>
				
			</div>
			
			<!-- login card-->
			<form id="form__login" class="p-5 shadow bg-white text-secondary" action="#" th:action="@{/login}"
				method="post">
				<p class="form__title">Login Form</p>
				<br />
				<div id="login-info">
					<div class="form-floating">
						<input type="text" class="form-control" id="usernameID" name="username"
							placeholder="username" required> 
							<label for="usernameID">Username</label>
					</div>

					<div class="form-floating">
						<input type="password" class="form-control" id="passID" name="password"
							placeholder="Password"  required> <label
							for="passID">Password</label>
					</div>

					<div class="form-check">
						<input type="checkbox" id="remMeID" value="remember-me"
							class="form-check-input"> <label class="form-check-label"
							for="remember-me">Remember me</label> <br> <br>
					</div>
			
					<button id="submit" type="submit" class="w-100 btn btn-lg btn-info text-white">login</button>
					<!-- <div class="text-center p-2">
						<a href="#" class="link-info">Forgot password</a>
					</div> -->
				</div>
				<!-- end of login-info -->

				<hr />

				<div class="text-center">
					Don’t have an account? 
					<a href="#" th:href="@{/register}" class="link-info">Create one</a> <br /> 
					
				</div>

			</form>
			<!-- end of login form -->

		</div>
		<!--  end of column -->
	</div>
	<!-- end of container -->


	<footer th:insert="fragments/footer :: frag_footer_light"></footer>


</body>

</html>