<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>


    <!-- css -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- 
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/style.css" /> -->
</head>

<body class="vh-100 bg-dark-subtle">
    <header class="bg-white">
        <div class="py-3 text-center">
            <a href="/">
                <img src="images/barkpointment_logo.png" alt="barkpointment-logo" height="30px" />
            </a>
        </div>
        </div>
    </header>

    <main class="container text-center p-5 ">
        <div class="card mb-4 shadow-sm rounded-0 border-0 ">
            <div class="card-header bg-primary rounded-0 shadow-none">
            </div>
            <div class="card-body p-5">
                <h3 class="card-title w700">LOGIN</h3>
                <input type="email" class="form-control py-3 bg-light rounded-0 my-2" name="email" id="email"
                    placeholder="Email*">
                <input type="password" class="form-control py-3 bg-light rounded-0 my-2" name="password" id="password"
                    placeholder="Password*">
                <br>
                <button type="button" class="w-100 btn btn-lg btn-primary rounded-0">LOGIN</button>
                <br>
                <br>
                <hr>
                <p>Don't have an account? <a href="register" class="">Register</a></p>
            </div>
    </main>

    <footer class="small p-3 bg-primary text-center text-white ">
        <small>Copyright ©
            <script>document.write(new Date().getFullYear())</script> Marjorie Teu. All Rights Reserved.
        </small>
        </span>
    </footer>



</body>

</html>