<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>


    <!-- css -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/style.css" /> -->
</head>

<body class="vh-100 bg-dark-subtle">
    <header class="bg-white">
        <div class="py-3 text-center">
            <a href="/">
                <img src="images/barkpointment_logo.png" alt="barkpointment-logo" height="30px" />
            </a>
        </div>
        </div>
    </header>

    <main class="container text-center align-items-center p-5  w-75">
        <div class="card mb-4 shadow-sm rounded-0 border-0 ">
            <div class="card-header bg-primary rounded-0 shadow-none">
            </div>

            <div class="card-body m-4">

                <h3 class="card-title w700">REGISTER</h3>

                <div class="d-flex gap-2 mb-2">
                    <input type="text" class="d-inline-block form-control bg-light rounded-0" name="email" id="fname"
                        placeholder="First Name*">
                    <input type="text" class=" d-inline-block  form-control  bg-light rounded-0" name="lname" id="lname"
                        placeholder="Last Name*">
                </div>

                <div class="d-flex flex-wrap gap-2">
                    <input type="email" class=" form-control bg-light rounded-0" name="email" id="email"
                        placeholder="Email*">
                    <input type="password" class="form-control bg-light rounded-0" name="password" id="password"
                        placeholder="Password*">
                </div>
                <br>
                <button type="button" class="w-100 btn btn-lg btn-primary rounded-0">Create Account</button>
                <br>
                <br>
                <hr>
                <p>Already a client? <a href="login" class="">Login</a></p>
            </div>
        </div>
    </main>

    <footer class="small p-3 bg-primary text-center text-white fixed-bottom w300">
        <small>Copyright ©
            <script>document.write(new Date().getFullYear())</script> Marjorie Teu. All Rights Reserved.
        </small>
        </span>
    </footer>

</body>

</html>