<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
				xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head :: frag_head(~{::title})">
<title>Barkpointment | Register</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/style.css">

</head>

<body>

	<header th:replace="fragments/header :: frag_header_logo"></header>
	


	<div class="full-height bg__cover bg__register">
		<!-- column 1-->
		
		<div class="p-5 w-50">
			<!-- sys message -->
			<div th:if="${param.error}" class="alert-danger">
				<div th:insert="fragments/sysAlert :: frag_sysAlert('system message here')"></div>
			</div>
			
			<div id="genContainer" class="pt-5 pb-4 text-center">
				<button class="btn btn-md btn-secondary text-white" id="btnRegInfo">Generate info</button>
				<button class="btn btn-md btn-secondary text-white" id="btnReset">Reset</button>
			
			</div>
			
			<!-- login card-->
			<form id="form__register" class="p-5 shadow bg-white text-secondary" action="#" th:action="@{/createUser}"
				method="post">
				<p class="form__title">Create your Account</p>
				<br />

				<div class="createAcct">
					<div class="flex-shrink-1">
						<div class="form-floating">
							<input type="text" class="form-control" id="fnameID" placeholder="John" 
							name="fname" required> 
								<label for="fnameID">First Name</label>
						</div>
					</div>
					<div class="flex-shrink-1">
						<div class="form-floating">
							<input type="text" class="form-control" id="lnameID" placeholder="Doe" 
							name="lname" required> 
								<label for="lnameID">Last Name</label>
						</div>
					</div>
					<div class="flex-shrink-1">
						<div class="form-floating">
							<input type="text" class="form-control" id="phoneID" placeholder="1234567" required> 
								<label for="phoneID">Phone</label>
						</div>
					</div>
					<div class="flex-shrink-1">
						<div class="form-floating">
							<input type="email" class="form-control" id="emailID" placeholder="name@example.com" 
							name="email" required> 
								<label for="emailID">Email</label>
						</div>
					</div>
					<div class="flex-shrink-1">
						<div class="form-floating">
							<input type=text class="form-control" id="usernameID" placeholder="username" 
							name="username"required> 
							<label for="username">Username</label>
						</div>
					</div>

					<div class="flex-shrink-1">
						<div class="form-floating">
							<input type="password" class="form-control" id="passID" placeholder="Password" 
							name="password" required> 
								<label for="passID">Password</label>
						</div>
					</div>

				</div>
				<!-- end of login-info -->

				<div class="text-center p-2">
					<div>ROLE</div>
			
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="authority" id="roleUser" th:value="ROLE_USER" checked>
						<label class="form-check-label" for="roleUser">User</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="authority" id="roleAdmin" th:value="ROLE_ADMIN">
						<label class="form-check-label" for="roleAdmin">Admin</label>
					</div>
				</div>

				<button id="submit" type="submit" class="w-100 btn btn-lg btn-info text-white">Create</button>
				<hr />

				<div class="text-center">
					Have an account? <a href="#" th:href="@{/login}" class="link-info">Login</a>
					<br />
				</div>

			</form>
			<!-- end of form -->


		</div>
		<!--  end of column -->

	</div>
	<!-- end of container -->


	<footer th:insert="fragments/footer :: frag_footer_light"></footer>



</body>

</html>